.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn {
	box-shadow:inset 0 1px 0 0 #cf866c;
	background:linear-gradient(to bottom, #b43434 5%, #9c060c 100%);
	background-color:#9c060c;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Indie Flower', cursive;
	font-size:1.5rem;
	padding:6px 24px;
	text-shadow:0 1px 0 #854629;
}
.btn:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.btn:active {
	position:relative;
	top:1px;
}

.button {
  padding-top: 5%;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
